$snake-color: #4caf50;
$snake-head-color: #45a049;
$food-color: #ff0000;
$border-color: #4caf50;
$button-bg: #4caf50;
$button-hover: #3e8e41;

.scoreContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // gap: 50px;
  margin-bottom: 30px;
}

.highScore {
  color: #ffd700;
  font-weight: bold;
}

//_______________________________________________________//

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.canvasContainer {
  position: relative;
  canvas {
    // border: 2px solid $border-color;
    background-color: #000;
  }
}

.startBtn {
  align-self: self-end;
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  background-color: $button-bg;
  border-radius: 5px;
  transition: background 0.3s ease-in-out;

  &:hover {
    background-color: $button-hover;
  }
}

// -------------------------------------------- //

.mobileControls {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
  
  .horizontalControls {
    display: flex;
    gap: 100px;
  }
  
  .controlButton {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 40%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    
    &:hover {
      background-color: #45a049;
    }
  }
}

.mobilePauseButton {
  display: none;
  align-self: self-end;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  
  &:hover {
    background-color: #1976d2;
  }
}

@media (max-width: 768px) {
  .mobileControls {
    display: flex;
  }
  
  .mobilePauseButton {
    display: block;
  }
  .startBtn {
    display: none;
  }
}

// -------------------------------------------- //

@media (max-width: 333px) {
  .mobileControls {
    .horizontalControls {
      gap: 50px;
    }
    .controlButton {
      width: 30px;
      height: 30px;
      font-size: 12px;
    }
  }
  .mobilePauseButton {
    margin-top: 30px;
    padding: 5px 10px;
    font-size: 14px;
  }
  .scoreContainer{
    font-size: x-small;
  }
}